# II. Tiến Hành Quá Trình Tiền Xử Lí Dữ Liệu

---

####  Import thư viện

In [1]:
import numpy as np
import pandas as pd
import math

### 1. Kiểm tra tổng quan về tập dữ liệu

In [2]:
data_covid = pd.read_csv("Data\Covid.csv")
data_covid.shape

(227, 21)

Dữ liệu được thu thập từ ngày ```29/11/2021``` đến ```5/12/2021```, Tập dữ liệu data covid có 1568 mẫu và 22 thuộc tính,

#### Tóm tắt thông tin về các thuộc tính có trong dữ liệu


|Thuộc tính|Kiểu dữ liệu|     Ý nghĩa   
|:--------:|:-------------:|:-----:
|**Date**|Chuỗi |Ngày của thông tin|
|**Country,Other**|Chuỗi|Đất nước lấy thông tin|
|**TotalCases**|Số nguyên|Số lượng toàn bộ người bị nhiễm|
|**NewCases**|Số nguyên|Số lượng ca nhiễm mới trong ngày|
|**TotalDeaths**|Số nguyên|Tổng số lượng ca tử vong do Covid-19|
|**NewDeaths**|Số nguyên|Số lượng ca tử vong được phát hiện trong ngày|
|**TotalRecovered**|Số nguyên|Tổng số lượng ca hồi phục khi bị nhiễm Covid-19|
|**NewRecovered**|Số nguyên|Số lượng ca phục hồi trong ngày|
|**ActiveCases**|Số nguyên|Số lượng người bị nhiễm và chưa khỏi bệnh|   
|**Serious,Critical**|Số nguyên|Số lượng ca nhiễm Covid-19 đang trong nguy kịch|   
|**Tot Cases/1M pop**|Số nguyên|Tổng số ca được xác nhận nhiễm trên 1 triệu dân số|
|**Deaths/1M pop**|Số nguyên|Tổng số ca tư vong trên 1 triệu dân số|
|**TotalTests**|Số nguyên|Tổng số lượng được xác nghiệm Covid-19|
|**Tests/1M pop**|Số nguyên|Tổng số lượng được xác nghiệm Covid-19 trên 1 triệu dân số|   
|**Population**|Số nguyên|Tổng số dân số của đất nước|   
|**Continent**|Chuỗi|Tên châu lục|
|**1Case every X ppl**|Số nguyên|     
|**1Death every X ppl**|Số nguyên|       
|**1 Testevery X ppl**|Số nguyên||   
|**New Cases/1M pop**|Số nguyên|Tổng số lượng được ca nhiễm Covid-19 mới trên 1 triệu dân số| 
|**New Deaths/1M pop**|Số nguyên|Tổng số lượng được ca tử vong mới trên 1 triệu dân số| 
|**Active Cases/1M pop**|Số nguyên|Tổng số lương ca nhiễm chưa khỏi bệnh trên 1 triệu dân số|

#### Kiểm tra số lượng nước và châu lục

In [3]:
print(f"Số lượng quốc gia và tàu: {data_covid['Country,Other'].nunique()}\n")
print(data_covid['Country,Other'].unique())

Số lượng quốc gia và tàu: 227

['China' 'USA' 'India' 'Brazil' 'France' 'UK' 'Russia' 'Germany' 'Turkey'
 'Italy' 'Spain' 'Argentina' 'Netherlands' 'Iran' 'S. Korea' 'Vietnam'
 'Colombia' 'Indonesia' 'Poland' 'Japan' 'Mexico' 'Ukraine' 'Malaysia'
 'Israel' 'South Africa' 'Czechia' 'Philippines' 'Belgium' 'Australia'
 'Peru' 'Portugal' 'Canada' 'Chile' 'Thailand' 'Austria' 'Switzerland'
 'Denmark' 'Romania' 'Greece' 'Sweden' 'Iraq' 'Bangladesh' 'Serbia'
 'Hungary' 'Jordan' 'Georgia' 'Slovakia' 'Pakistan' 'Norway' 'Ireland'
 'Kazakhstan' 'Morocco' 'Bulgaria' 'Lebanon' 'Cuba' 'Croatia' 'Tunisia'
 'Nepal' 'Lithuania' 'Belarus' 'Singapore' 'Slovenia' 'Bolivia' 'UAE'
 'Uruguay' 'Ecuador' 'Costa Rica' 'Guatemala' 'Azerbaijan' 'Panama'
 'Saudi Arabia' 'Latvia' 'Finland' 'Hong Kong' 'Sri Lanka' 'Paraguay'
 'Kuwait' 'Myanmar' 'Palestine' 'Dominican Republic' 'Bahrain' 'Estonia'
 'Venezuela' 'Moldova' 'Libya' 'Egypt' 'Ethiopia' 'Mongolia' 'Armenia'
 'Honduras' 'Oman' 'Bosnia and Herzegovina' 'New Zealand' 'Qatar' 'Cyprus'
 'Kenya' 'Zambia' 'Réunion' 'North Macedonia' 'Albania' 'Algeria'
 'Botswana' 'Nigeria' 'Zimbabwe' 'Uzbekistan' 'Montenegro' 'Mozambique'
 'Kyrgyzstan' 'Luxembourg' 'Afghanistan' 'Maldives' 'Uganda' 'Iceland'
 'Ghana' 'Namibia' 'El Salvador' 'Laos' 'Cambodia' 'Trinidad and Tobago'
 'Guadeloupe' 'Rwanda' 'Jamaica' 'Martinique' 'Cameroon' 'Brunei '
 'Angola' 'DRC' 'Senegal' 'Malawi' 'Ivory Coast' 'Suriname'
 'French Guiana' 'Malta' 'French Polynesia' 'Eswatini' 'Fiji' 'Madagascar'
 'Guyana' 'Sudan' 'New Caledonia' 'Mauritania' 'Belize' 'Barbados'
 'Channel Islands' 'Cabo Verde' 'Syria' 'Gabon' 'Papua New Guinea'
 'Seychelles' 'Curaçao' 'Andorra' 'Burundi' 'Togo' 'Mayotte' 'Guinea'
 'Faeroe Islands' 'Mauritius' 'Aruba' 'Tanzania' 'Bahamas' 'Lesotho'
 'Haiti' 'Mali' 'Benin' 'Somalia' 'Isle of Man' 'Congo' 'Saint Lucia'
 'Timor-Leste' 'Taiwan' 'Burkina Faso' 'Cayman Islands' 'Nicaragua'
 'Bhutan' 'Tajikistan' 'South Sudan' 'Equatorial Guinea' 'Gibraltar'
 'Djibouti' 'San Marino' 'CAR' 'Liechtenstein' 'Grenada' 'Gambia'
 'Greenland' 'Bermuda' 'Yemen' 'Dominica' 'Saint Martin' 'Monaco'
 'Eritrea' 'Sint Maarten' 'Solomon Islands' 'Niger' 'Guinea-Bissau'
 'Comoros' 'Sierra Leone' 'Caribbean Netherlands' 'Antigua and Barbuda'
 'Liberia' 'Chad' 'St. Vincent Grenadines' 'British Virgin Islands'
 'Sao Tome and Principe' 'Turks and Caicos' 'Saint Kitts and Nevis'
 'Palau' 'St. Barth' 'Kiribati' 'Anguilla' 'Tonga' 'Saint Pierre Miquelon'
 'Diamond Princess' 'Wallis and Futuna' 'Cook Islands' 'Vanuatu'
 'Montserrat' 'Falkland Islands' 'Macao' 'Samoa' 'Vatican City'
 'Western Sahara' 'MS Zaandam' 'Marshall Islands' 'Saint Helena'
 'Micronesia' 'Niue']

In [4]:
print(f"Số lượng châu lục: {data_covid['Continent'].nunique()}\n")
print(data_covid['Continent'].unique())

Số lượng châu lục: 6

['Asia' 'North America' 'South America' 'Europe' 'Africa'
 'Australia/Oceania' nan]

### 2. Tiền xử lí dữ liệu

In [5]:
data_covid[0:130]

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,China,"115,466","+1,938","4,636",NaN,"103,600",+169,"7,230",6,80,...,"160,000,000","111,163","1,439,323,776",Asia,"12,465","310,467",9.0,1,NaN,5
1,USA,"81,174,677","+5,143","993,811",118.0,"56,071,103","+155,965","24,109,763","4,250","242,828",...,"964,386,655","2,884,885","334,289,437",North America,4,336,0.0,15,0.40,"72,122"
2,India,"42,993,494","+2,503","515,907",57.0,"42,441,449","+4,377","36,138","8,944","30,644",...,"778,520,151","554,906","1,402,976,534",Asia,33,"2,719",2.0,2,0.04,26
3,Brazil,"29,368,776","+18,397","655,139",146.0,"27,742,324","+70,731","971,313","8,318","136,524",...,"63,776,166","296,471","215,117,939",South America,7,328,3.0,86,0.70,"4,515"
4,France,"23,514,144","+60,422","140,109",29.0,"22,163,944","+17,144","1,210,091","1,928","358,895",...,"246,629,975","3,764,303","65,518,106",Europe,3,468,0.0,922,0.40,"18,470"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Angola,"98,927",+18,"1,900",NaN,"96,857",+6,170,NaN,"2,860",...,"1,463,343","42,299","34,595,276",Africa,350,"18,208",24.0,0.5,NaN,5
126,DRC,"86,315",NaN,"1,335",NaN,"50,930",NaN,"34,050",NaN,917,...,"846,704","8,992","94,166,412",Africa,"1,091","70,537",111.0,NaN,NaN,362
127,Senegal,"85,797",+12,"1,964",NaN,"83,781",+8,52,1,"4,905",...,"1,025,172","58,614","17,490,347",Africa,204,"8,905",17.0,0.7,NaN,3
128,Malawi,"85,499",+4,"2,623",3.0,"76,752",+21,"6,124",67,"4,282",...,"553,978","27,746","19,966,197",Africa,234,"7,612",36.0,0.2,0.20,307
129,Ivory Coast,"81,597",+3,796,NaN,"80,717",+22,84,NaN,"2,969",...,"1,446,043","52,615","27,483,361",Africa,337,"34,527",19.0,0.1,NaN,3

#### a. Kiểm tra bị null (missing value)

In [6]:
def checkMissingData():
    for column in data_covid.columns:
        count = 0
        for i in data_covid[column]:
            try:
                if (np.isnan(i)):
                    count = count + 1
            except:
                None
        print("Số lượng thông tin bị thiếu trong thuộc tính ", column, ":",count)
        print("Chiếm tỉ lệ phần trăm:", round(count/data_covid.shape[0] * 100, 3),"%")
        print()

In [7]:
checkMissingData()

Số lượng thông tin bị thiếu trong thuộc tính  Country,Other : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalCases : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  NewCases : 93
Chiếm tỉ lệ phần trăm: 40.969 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalDeaths : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  NewDeaths : 143
Chiếm tỉ lệ phần trăm: 62.996 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalRecovered : 12
Chiếm tỉ lệ phần trăm: 5.286 %

Số lượng thông tin bị thiếu trong thuộc tính  NewRecovered : 115
Chiếm tỉ lệ phần trăm: 50.661 %

Số lượng thông tin bị thiếu trong thuộc tính  ActiveCases : 11
Chiếm tỉ lệ phần trăm: 4.846 %

Số lượng thông tin bị thiếu trong thuộc tính  Serious,Critical : 66
Chiếm tỉ lệ phần trăm: 29.075 %

Số lượng thông tin bị thiếu trong thuộc tính  Tot Cases/1M pop : 2
Chiếm tỉ lệ phần trăm: 0.881 %

Số lượng thông tin bị thiếu trong thuộc tính  Deaths/1M pop : 11
Chiếm tỉ lệ phần trăm: 4.846 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalTests : 16
Chiếm tỉ lệ phần trăm: 7.048 %

Số lượng thông tin bị thiếu trong thuộc tính  Tests/1M pop : 16
Chiếm tỉ lệ phần trăm: 7.048 %

Số lượng thông tin bị thiếu trong thuộc tính  Population : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Continent : 2
Chiếm tỉ lệ phần trăm: 0.881 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Caseevery X ppl : 2
Chiếm tỉ lệ phần trăm: 0.881 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Deathevery X ppl : 11
Chiếm tỉ lệ phần trăm: 4.846 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Testevery X ppl : 16
Chiếm tỉ lệ phần trăm: 7.048 %

Số lượng thông tin bị thiếu trong thuộc tính  New Cases/1M pop : 93
Chiếm tỉ lệ phần trăm: 40.969 %

Số lượng thông tin bị thiếu trong thuộc tính  New Deaths/1M pop : 143
Chiếm tỉ lệ phần trăm: 62.996 %

Số lượng thông tin bị thiếu trong thuộc tính  Active Cases/1M pop : 5
Chiếm tỉ lệ phần trăm: 2.203 %

#### Đánh giá về dữ liệu
- Sau khi liệt kê các thuộc tính để kiểm tra phần trăm số lượng bị thiếu thông tin, ta thấy đa số các cột thuộc tính bị thiếu dữ liệu chỉ có 5 thuộc tính là đầy đủ dữ liệu , số lượng thuộc tính thiếu trên 30% tương đối lớn

###### Giải quyết vấn đề bị thiếu dữ liệu: 
- Ta thấy các thuộc tính như ```New Cases/1M pop```, ```New Deaths/1M pop```, ```NewRecovered```, ```NewDeaths```, ```Serious,Critical```, ```NewCases``` có tỉ lệ phần trăm thiếu dữ liệu lớn hơn 30% , đồng thời ta thấy được thuộc tính đó không đóng góp nhiều vào quá trình phân tích và thống kê nên ta sẽ chọn phương án là loại bỏ các thuộc tính đó

In [8]:
data_covid = data_covid.drop(columns=["New Cases/1M pop", "NewRecovered", "NewDeaths", "New Deaths/1M pop", "Serious,Critical", "NewCases"])

- Ta thấy các thuộc tính như ```TotalTests```, ```Tests/1M pop``` , ```1 Testevery X ppl``` có tỉ lệ phần trăm như nhau = 6.696% , ta có thể đưa ra giả thiết: ```các sample thiếu dữ dữ liệu là một```, ta sẽ tiến hành kiếm tra

In [9]:
country_TotalTests = []
country_Tests1Mpop = []
country_1TesteveryXppl = []

for i in range(0, len(data_covid["TotalTests"])):
    try:
        if (np.isnan(data_covid["TotalTests"][i])):
            country_TotalTests.append(data_covid.loc[i, "Country,Other"])
    except:
        None
    
    try:
        if (np.isnan(data_covid["Tests/1M pop"][i])):
            country_Tests1Mpop.append(data_covid.loc[i, "Country,Other"])
    except:
        None
    
    try:
        if (np.isnan(data_covid["1 Testevery X ppl"][i])):
            country_1TesteveryXppl.append(data_covid.loc[i, "Country,Other"])
    except:
        None
country_TotalTests = set(country_TotalTests)
country_Tests1Mpop = set(country_Tests1Mpop)
country_1TesteveryXppl = set(country_1TesteveryXppl)

print("TotalTests: ", country_TotalTests)
print()
print("Tests1Mpop: ", country_Tests1Mpop)
print()
print("1TesteveryXppl: ", country_1TesteveryXppl)

TotalTests:  {'French Polynesia', 'Seychelles', 'Kiribati', 'Western Sahara', 'MS Zaandam', 'Nicaragua', 'Vatican City', 'Samoa', 'Micronesia', 'Niue', 'Saint Helena', 'Tanzania', 'Tajikistan', 'Marshall Islands', 'Comoros', 'Diamond Princess'}

Tests1Mpop:  {'French Polynesia', 'Seychelles', 'Kiribati', 'Western Sahara', 'MS Zaandam', 'Nicaragua', 'Vatican City', 'Samoa', 'Micronesia', 'Niue', 'Saint Helena', 'Tanzania', 'Tajikistan', 'Marshall Islands', 'Comoros', 'Diamond Princess'}

1TesteveryXppl:  {'French Polynesia', 'Seychelles', 'Kiribati', 'Western Sahara', 'MS Zaandam', 'Nicaragua', 'Vatican City', 'Samoa', 'Micronesia', 'Niue', 'Saint Helena', 'Tanzania', 'Tajikistan', 'Marshall Islands', 'Comoros', 'Diamond Princess'}

**Đánh giá:** 
- Vì các nước đều như nhau giống với giả thiết ban đầu, đồng thời mục đích ban đầu ta sẽ phân tích các nước đông có tỉ lệ bị nhiễm covid cao, qua quan sát ta thấy các nước liệt kê trên là nước nhỏ với tỉ lệ dân số thấp đồng thời chứa các sample như ```Diamond Princess```, ```MS Zaandam```... là các tàu chở bệnh nhân bị covid , nó không phải là 1 quốc gia. Ta xem chúng thuộc dạng outlier. Nên ta sẽ quyết định loại bỏ các sample được liệt kê ở trên

In [10]:
dr = []
for i in range(0, len(data_covid["TotalTests"])):
    if (data_covid["Country,Other"][i] in country_1TesteveryXppl):
        dr.append(i)

data_covid = data_covid.drop(dr, axis=0)
print("Số sample và thuộc tính còn lại:", data_covid.shape)

Số sample và thuộc tính còn lại: (211, 15)

- **Kiểm tra thông tin bị thiếu**

In [11]:
checkMissingData()

Số lượng thông tin bị thiếu trong thuộc tính  Country,Other : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalCases : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalDeaths : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalRecovered : 9
Chiếm tỉ lệ phần trăm: 4.265 %

Số lượng thông tin bị thiếu trong thuộc tính  ActiveCases : 9
Chiếm tỉ lệ phần trăm: 4.265 %

Số lượng thông tin bị thiếu trong thuộc tính  Tot Cases/1M pop : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Deaths/1M pop : 3
Chiếm tỉ lệ phần trăm: 1.422 %

Số lượng thông tin bị thiếu trong thuộc tính  TotalTests : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Tests/1M pop : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Population : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Continent : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Caseevery X ppl : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Deathevery X ppl : 3
Chiếm tỉ lệ phần trăm: 1.422 %

Số lượng thông tin bị thiếu trong thuộc tính  1 Testevery X ppl : 0
Chiếm tỉ lệ phần trăm: 0.0 %

Số lượng thông tin bị thiếu trong thuộc tính  Active Cases/1M pop : 0
Chiếm tỉ lệ phần trăm: 0.0 %

**Đánh giá**
- Đa số các cột thuộc tính có phần trăm thiếu dữ liệu là 0%, còn 4 thuộc tính có phần trăm thiếu dữ liệu dưới 3%, ta sẽ chọn phương án là phớt lờ các thông tin bị thiếu đó

**Loại bỏ các thuộc tính không cần thiết cho quá trình thống kê và mô hình hóa dữ liệu**
  + Ta sẽ lựa chọn loại bỏ 3 thuộc tính ```1 Caseevery X ppl```, ```1 Deathevery X ppl``` và ```1 Testevery X ppl``` vì ta không hiểu rõ ý nghĩa của 3 thuộc tính đó là gì, đồng thời trên trang ```https://www.worldometers.info``` thì đồng thời ẩn 3 thuộc tính đó, ta có thể suy luận rằng 3 thuộc tính đó có thể không quan trọng trong việc đánh giá và phân tích dữ liệu

In [12]:
data_covid = data_covid.drop(["1 Caseevery X ppl", "1 Deathevery X ppl", "1 Testevery X ppl"], axis=1)

#### b. Kiểm tra kiểu dữ liệu trong mỗi thuộc tính

In [13]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 0 to 218
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country,Other        211 non-null    object
 1   TotalCases           211 non-null    object
 2   TotalDeaths          211 non-null    object
 3   TotalRecovered       202 non-null    object
 4   ActiveCases          202 non-null    object
 5   Tot Cases/1M pop     211 non-null    object
 6   Deaths/1M pop        208 non-null    object
 7   TotalTests           211 non-null    object
 8   Tests/1M pop         211 non-null    object
 9   Population           211 non-null    object
 10  Continent            211 non-null    object
 11  Active Cases/1M pop  211 non-null    object
dtypes: object(12)
memory usage: 21.4+ KB

- **Đánh giá**: ta thấy đươc đa số các cột thuộc tính đều thuộc dạng object , ta cần chuyển đổi cột thuộc tính sang đúng dạng của chúng
  + Loại ```string```: Country,Other, Continent
  + Loại ```datetime```: Date
  + Loại ```float```: Tot Cases/1M pop, Deaths/1M pop, Tests/1M pop, 1 Caseevery X ppl, 1 Deathevery X ppl, 1 Testevery X ppl
  + Loại ```int```: Active Cases/1M pop, TotalCases, TotalDeaths, TotalRecoverd, ActiveCases, Population, TotalTests

- Chuyển đổi sang string

In [17]:
data_covid["Country,Other"] = data_covid["Country,Other"].astype('string')
data_covid["Continent"] = data_covid["Continent"].astype('string')

- Chuyển đổi object sang float

In [19]:
col = ["Active Cases/1M pop", "Tests/1M pop", "Deaths/1M pop", "Tot Cases/1M pop"]
for c in col:
    data_covid[c] = data_covid[c].astype(str)
    data_covid[c] = data_covid[c].str.replace(',', '')
    data_covid[c] = data_covid[c].astype(float)

- Chuyển đổi sang int

In [20]:
col1 = ["TotalTests", "Population", "TotalCases", "TotalDeaths", "ActiveCases", "TotalRecovered"]

for c in col1:
    data_covid[c] = data_covid[c].astype(str)
    data_covid[c] = data_covid[c].str.replace(',', '')
    data_covid[c] = pd.to_numeric(data_covid[c], errors='coerce').astype('Int64')

In [21]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 0 to 218
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country,Other        211 non-null    string
 1   TotalCases           211 non-null    Int64
 2   TotalDeaths          208 non-null    Int64
 3   TotalRecovered       202 non-null    Int64
 4   ActiveCases          202 non-null    Int64
 5   Tot Cases/1M pop     211 non-null    float64
 6   Deaths/1M pop        208 non-null    float64
 7   TotalTests           211 non-null    Int64
 8   Tests/1M pop         211 non-null    float64
 9   Population           211 non-null    Int64
 10  Continent            211 non-null    string
 11  Active Cases/1M pop  211 non-null    float64
dtypes: Int64(6), float64(4), string(2)
memory usage: 22.7 KB

### Đánh giá tổng quan sau khi quá trình tiền xử lí dữ liệu

In [23]:
print("Số lượng sample:", data_covid.shape[0])
print("Số lượng thuộc tính:", data_covid.shape[1])
print("Số lượng các quốc gia trong dữ liêu:", int(data_covid.shape[0] / 7))
print(f"Số lượng châu lục: {data_covid['Continent'].nunique()}\n")

Số lượng sample: 211
Số lượng thuộc tính: 12
Số lượng các quốc gia trong dữ liêu: 30
Số lượng châu lục: 6

- **Tiến hành lưu dữ liệu vào Covid_new.csv trong thư mục New_Data**

In [24]:
data_covid.to_csv('New_Data/Covid_new.csv', index=False)